.nightvision {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 150%;
	height: 150%;
	background:
		radial-gradient(rgba(0, 255, 0, 0.842), #00000079),
		repeating-linear-gradient(
			transparent 0,
			rgba(0, 0, 0, 0.1) 2.5px,
			transparent 5px
		);
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	animation-name: cameraAnim;
	// animation-duration: 0.5s;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	@keyframes cameraAnim {
		0% {
			left: -10vh;
			top: -10vh;
			background:
				radial-gradient(rgba(0, 255, 0, 0.842), #00000079),
				repeating-linear-gradient(
					transparent 0,
					rgba(0, 0, 0, 0.2) 2.5px,
					transparent 5px
				);
		}
		100% {
			left: 0vh;
			top: 0vh;
			background:
				radial-gradient(rgba(85, 255, 85, 0.842), #11111179),
				repeating-linear-gradient(
					transparent 10,
					rgba(8, 8, 8, 0.2) 2.5px,
					transparent 7px
				);
		}
		// 0% {
		//     left: 0vh;
		//     top: 0vh;
		//     background: radial-gradient(rgba(21, 223, 21, 0.842), #11111179),
		//         repeating-linear-gradient(transparent 10, rgba(8, 8, 8, 0.2) 2.5px, transparent 7px);
		// }
		// 100% {
		//     left: -10vh;
		//     top: -10vh;
		//     background: radial-gradient(rgba(0, 255, 0, 0.842), #00000079),
		//         repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.2) 2.5px, transparent 5px);
		// }
	}
	.info {
		position: absolute;
		bottom: 3vh;
		right: 3vh;
		width: 30vh;
		border-radius: 15px;
		background-color: black;
		padding: 2vh;
		.title {
			font-size: 2vh;
			font-weight: 800;
		}
		.message {
			font-size: 1.5vh;
			img {
				height: 2vh;
			}
		}
	}
}
